<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Registro</h2>

                <!--Formulario-->
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}

                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
<!-- URL del archivo JavaScript de Bootstrap (requiere jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>